.text-18-medium {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.text-15-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.text-16-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.text-16-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.text-14-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.text-13-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 13px;
}
.text-28-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
}

.title-40-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
}


.title-24-semiBold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}
.title-20-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
}

.title-48-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
}

